* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", Arial, sans-serif;
}

.bg-img {
    min-height: 100vh;
    background-color: #145f75;
    background-image: url(../img/city-background.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
    inset: 0;
    z-index: -1;
}

.bg-overlay {
    position: fixed;
    inset: 0;
    z-index: -1;
    background-color: #09006a;
    opacity: 0.4;
}

header {
    position: sticky;
    top: 0;
}

.container-flex {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    min-height: 83px;
}

.header__logo {
    color: #F5D3C8;
    font-size: 28px;
}

.header__logo span {
    color: #a86685;
}

.button {
    border: none;
    padding: 15px 30px;
    background-color: #a86685;
    color: white;
    border-radius: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: .25s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.button:hover {
    box-shadow: 0 0 5px #a86685,
        0 0 20px #a86685,
        0 0 40px #a86685;
    animation: pulse .5s;
    transition-delay: .05s;
}

.navbar__menu a {
    text-decoration: none;
    color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 2em;
    gap: 0.5em;
    transition: background-color .25s ease;
}

.navbar a:hover {
    background-color: #376ea5;
}

.navbar ul {
    list-style-type: none;
    letter-spacing: 1px;
}

.navbar li {
    position: relative;
}

.navbar li ul {
    position: absolute;
    background-color: #553065;
    min-width: 240px;
    box-shadow: hsla(297, 98%, 19%, 0.47) 0px 5px 15px;
}

.navbar__menu {
    display: flex;
}

.navbar ul>li:hover>ul {
    display: block;
}

.navbar__submenu {
    left: 0;
    display: none;
}

.navbar__submenu-two {
    left: 100%;
    top: 0;
    display: none;
}

.navbar__submenu-three {
    left: 100%;
    top: 0;
    display: none;
}

.navbar__menu li:hover>.navbar__submenu {
    animation: slide-down .6s ease;
}

.navbar__submenu li:hover>.navbar__submenu-two {
    animation: slide-left .6s ease;

}

.navbar__submenu-two li:hover>.navbar__submenu-three {
    animation: slide-right .3s ease;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(18px);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.main-content {
    max-width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    color: white;
}

p {
    margin-bottom: 16px;
}

.footer-icons {
    display: flex;
    gap: 20px;
}

.footer-icons__link {
    font-size: 28px;
    color: #dadada;
    transition: .25s;
}

.footer-icons__link:hover {
    color: #a86685;
    transform: scale(1.2) translateY(-5px);
}